body {
  background-color: rgb(200, 197, 197);
}

#root {
  position: relative;
  color: red;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 20px;
}



.episode {
  background-color: cyan;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}